.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
  margin-bottom: 10px;
  font-size: 40px;
  padding: 5px;
}

label {
  font-size: 20px;
}

.calculator-body {
  max-width: 400px;
  margin: auto;
  position: relative;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}

.log {
  background-color:lightgray;
  height: 200px;
  font-size: 20px;
  color: #000;
  overflow: auto;
}